<form action="dashboard" method="post">
    <table>
        <tr>
            <td>Username</td>
            <td><input name="username" type="text"/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input name="pasword" type="password"/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="submit"/></td>
        </tr>
    </table>
</form>
